# Python cache
__debug__
__pycache__
*.py[cod]
*$py.class

# Local Configurations
.vscode
.venv

# Generated data or test outputs, images, intermediate results, etc.
data
*.png

# Compiled binaries
cpp/bin

# Exclude any top-level source code -> usually ad-hoc and temporary random tests
py/*.py
0-adHocTests.ipynb

